<!DOCTYPE html>
    <html>

        <!-- modification -->

       <head>
           <meta charset="utf-8"/>
           <title> Cv Aaminatou GAYE</title>
           <link rel="stylesheet" href="../css/principal.css" media="screen and (min-device-width:769px)" type="text/css">
           <link rel="stylesheet" href="../css/mobile.css" media="screen and (max-device-width:768px)" type="text/css">
        </head>

        <body>
             <header>
                <div>
                    <h3>  Aaminatou GAYE</h3>
                    <h4>  0658275791</h4>
                    <h4>  gayeaminatou@gmail.com</h4>
                </div>
                <img class="displayed" src="../img/photoCv.jpg" >
             </header>
              <h2>  Ingenieur Concepteur developpeur JAVA</h2>
            
            <section>
                <div id="diplome" >
                    <h1> Diplome:</h1>
                        <div list="menu">
                        <ul>
                            <li>  2010-2014   Master    Systéme d'information</li>
                            <li>  2008-2010   DUT Réseaux et télécoms</li>
                        </ul>
                        </div>
                </div>   
                <div id="experience">
                    <h1> Experiences:</h1>
                    <div list="menu">
                        <ul>
                            <li> 2010-2014   Analyste Qualité    Orange</li>
                            <li> 2009-2010   Technicienne d'intervention    Orange</li>
                            <li>  2008-2009   Analyste Qualité    Orange</li>
                        </ul>
                    </div> 
                </div> 
            </section>

        </body>
        <br>
        <br>
  <hr>
        <footer> 
            <titre> Disponible actuellement contactez moiiii</titre>

        </footer> 
    </html>