<!DOCTYPE html>
<html>
    <head>
        <title>Aminatou Web Site</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <style>
               body{
                    background-color: lightblue;
                    } 
                #mabarre{
                    background-color: darkblue
                    }
                    

        </style>
    </head>
    <body>
        <header>
                <div>
                    <h1>  Bienvenue sur mon site </h1>
                </div>
        </header>
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="mabarre">
            <li><a href="../cv">MonCV</a></li>
            <li><a href="../todoList">Todo List</a></li>
            <li><a href="../todo/todo.html">Admin</a></li>
            <li><a href="../todo/logout">Logout</a></li>
            </ul>
        </div>
        <script type="text/javascript" src="../js/jquery-3.1.0.js"></script>
        <script src="../js/bootstrap.js"></script>
    </body>
    </html>