
<!DOCTYPE html>
<html ng-app="Application">
    <head>
        <title>
            todoListe
        </title>
        <meta charset='UTF-8'>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/Initialisation.css" type="text/css">
        <link rel="stylesheet" href="../css/table.css" type="text/css">
        <style>
               body{
                    background-color: lightblue;
                    } 
                #mabarre{
                    background-color: darkblue
                    }
                    

        </style>
    </head>
    <body id=body>
         <header>
                <div>
                    <h1>  Bienvenue sur mon site </h1>
                </div>
        </header>
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="mabarre">
            <li><a href="../cv">MonCV</a></li>
            <li><a href="../todo">Todo List</a></li>
            <li><a href="../todo/logout">Logout</a></li>
            </ul>
        </div>

            <p ma-directive></p>

        <script type="text/javascript" src="../js/jquery-3.1.0.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="./app/module/Application.js"></script>
        <script src="./app/directive/maDirectiveDirective.js"></script>
    </body>
</html>

<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Aminatou Web Site</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" href="./css/Initialisation.css" type="text/css">
        <link rel="stylesheet" href="./css/table.css" type="text/css">
        <style>
               body{
                    background-color: lightblue;
                    } 
                #mabarre{
                    background-color: darkblue
                    }
                    

        </style>
    </head>
    <body id=body>
        <header>
                <div>
                    <h1>  Bienvenue sur mon site </h1>
                </div>
        </header>
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="mabarre">
            <li><a href="../cv">MonCV</a></li>
            <li><a href="../todo/todo.html">Todo List</a></li>
            <li><a href="../todo/logout">Admin</a></li>
            </ul>
        </div>
                <p ma-directive></p>
        <script type="text/javascript" src="../js/jquery-3.1.0.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="./app/module/Application.js"></script>
        <script src="./app/directive/maDirectiveDirective.js"></script>
    </body>
    </html>
    */-->